#filters {
  background-color: #0c0a12;
  padding: 3.5rem 1.7rem 1.7rem 1.7rem;
  width: 100%;
  position: relative;
  transition: all 0.2s linear 0.2s;
  max-height: 100vh;
  max-width: 20rem;
  &.collapse {
    width: 4rem;
    padding: 3.5rem 0.2rem 1.7rem 0.2rem;
    *:not(.pi) {
      opacity: 0;
      transition: all 0.2s linear;
    }
    .pi {
      right: 1.4rem;
      z-index: 2;
    }
  }
  .title {
    transition: all 0.2s ease 0.3s;
    margin-top: -1.7rem;
    margin-bottom: 1rem;
  }
  .pi {
    position: absolute;
    right: 1.7rem;
    top: 1.7rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.4s linear;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
    opacity: 1;
    transition: opacity 0.1s linear 0.5s;
  }
  .action {
    display: flex;
    justify-content: space-between;
  }
}
